services:
  backend:
    build:
      context: .
      dockerfile: docker/backend.Dockerfile
    environment:
      - ENV=dev
    ports:
      - "8000:8000"

  frontend:
    build:
      context: .
      dockerfile: docker/frontend.Dockerfile
    ports:
      - "8080:80"
    depends_on:
      - backend
