services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile.dev
    environment:
      - ENV=dev
    ports:
      - "8000:8000"

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile.dev
    ports:
      - "8080:80"
    depends_on:
      - backend
